/html
/tmpl
/xml
/libbean-decl-list.txt
/libbean-decl.txt
/libbean-undeclared.txt
/libbean-undocumented.txt
/libbean-unused.txt
/libbean.args
/libbean.hierarchy
/libbean.interfaces
/libbean.prerequisites
/libbean.signals
/version.xml
/*.stamp
